<h1>My Tasks</h1>



<% @tasks.each do |task| %>
<div>
  <input type="checkbox" id="<%= task.id %>" <%= 'checked' if task.completed == true %> >
  <label for="<%= task.id %>"><%= task.title%></label>
</div>
  <% end %>


